@import "tailwindcss";

@theme {
  --color-background: #000000;
  --color-foreground: #ffffff;
  --color-accent: #00f0ff;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  overflow-x: hidden;
}
